.App {
  margin-top: 2rem;
  margin-left: 2rem;
  font-family: sans-serif;
}

.selectEl {
  padding: 0.25rem 0.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  /* background-color: transparent;  */
}